*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:active,
:focus,
:hover{

    outline: 0 !important;
    outline-offset:0 ;
}
a{
    color: white !important;
}
a,
a:hover{
    text-decoration: none;
}
body{

    background-color: #333;
}


ul,ol{

    padding: 0;
    margin: 0;
}


:root{

    --primary-color: #ff553e;
    --secondary-color: #333;
    --white-color: #fff;
    --black-color: #000;

}

html{

    scroll-behavior: smooth;
}

.main-btn{

    height: 40px;
    line-height: 40px;
    font-size: 1.125rem;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 30px;
    position: relative;
}

.top-header{

    background-color: var(--secondary-color);
}

.top-header span{

    font-size: 0.875rem;
    color: var(--white-color);
    letter-spacing: 0.1062rem;
}



#home .carousel-caption{

    top: 12rem;
}

#home .carousel-caption p{

    max-width: 36.25rem;
    margin: 1.0625rem auto;
}

.wrapper{

    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--secondary-color);
}


.news-arrival .banner-info{

    bottom: 30px;
    margin: auto;
    width: 100%;
    position: absolute;
    z-index: 9;
    padding: 0 15px;
}

.news-arrival .card-banner:nth-child(2) h2,

.news-arrival .card-banner:nth-child(2) p,

.news-arrival .card-banner:nth-child(2) a{

    color: var(--black-color)
};


.news-arrival .card-banner:nth-child(2) a::before,

.news-arrival .card-banner:nth-child(2) a::after{

    background-color: var(--black-color);
}

.news-arrival .card-banner .card-thumb, .prodcuct .item-product{

    position: relative;
    display: block;
    overflow: hidden;
}

.news-arrival .card-banner .card-thumb img,
.prodcuct .item-product img{

    transition: all .5s ease-out 0s;
}


.news-arrival .card-banner .card-thumb img:hover,
.prodcuct .item-product img:hover{

    transform: scale(1.2);
    opacity: 0.6;
}


.new-item-img{

    overflow: hidden;
}
.new-item-img img{

    transition: 1s;
}
.new-item-img:hover img{

 transform: scale(1.01,1.12);
 opacity: 0.6;
}



.products .nav-tabs{

    border: 0px;
    justify-content: center;
    
}

.products .nav-tabs .nav-link{


    display: block;
    padding: 0px 30px;
    border: 1px solid var(--white-color);
    border-radius: 20px;
    background-color: var(--black-color);
    color: var(--white-color);
    height: 36px;
    margin: 10px;
    line-height: 34px;
    text-transform: uppercase;
}


.dealoftheday{

    background-image: url("img/img-4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}





.footer-wrapper{

    background-color: black;
    padding: 20px;
  }

  .footer-wrapper .footer-logo img{
    width: 100px;
  }

  .footer-wrapper .socialicon li {

    margin: 6px;
  }

  .footer-wrapper .socialicon a{

    height: 35px;
    width: 35px;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid grey;
    color: grey;
    text-align: center;
    border-radius: 100% ;
    -webkit-transition: 0.3s all cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: 0.3s  cubic-bezier(0.645, 0.045, 0.355, 1);
  }


  .footer-wrapper .socialicon a:hover{

 background-color:red;
 border-color: red;
 color: white;
 box-shadow: 0px 10px 15px 0 rgb(0 0 0 / 100);
 transform: translate(-3px);
  }


  
.nav-link{

    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: grey !important;
    display: inline-block;
}

header .nav-item .nav-link::after{
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background-color:#ff553e !important;
    transition: 0.3s;
    bottom: 0;
}

header .nav-item .nav-link.active::after,
header .nav-item .nav-link:hover::after{

    width: 100%;
}

header .nav-item .nav-link.active,
header .nav-item .nav-link:hover{

    color: white !important;
}


.slidercontent{
    color: white;
}


header .menu-navbar{

    text-align: center;
    padding-bottom: 15px;
}


  